body {
    font-family: 'PT Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'PT Serif', serif;
}

.summary {
    margin: 24px 0 24px 0;
}

.home-button {
    position: absolute;
    top: 24px;
    left: 24px;
}

.post-title {
    color: #333333 !important;
}

.no-decor-link:hover {
    text-decoration: none;
}

.jumbotron {
    background-color: rgba(255, 248, 248, 0.7);
}